In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_excel('Downloads/Year1_Data.xlsx')
df = df.round()
df

,Facility,Jan 2019\nElectricity\nUse (kWh),Feb 2019\nElectricity\nUse (kWh),Mar 2019\nElectricity\nUse (kWh),Apr 2019\nElectricity\nUse (kWh),May 2019\nElectricity\nUse (kWh),Jun 2019\nElectricity\nUse (kWh),Jul 2019\nElectricity\nUse (kWh),Aug 2019\nElectricity\nUse (kWh),Sep 2019\nElectricity\nUse (kWh),...,Apr 2020\nElectricity\nUse (kWh),May 2020\nElectricity\nUse (kWh),Jun 2020\nElectricity\nUse (kWh),Jul 2020\nElectricity\nUse (kWh),Aug 2020\nElectricity\nUse (kWh),Sep 2020\nElectricity\nUse (kWh),Oct 2020\nElectricity\nUse (kWh),Nov 2020\nElectricity\nUse (kWh),Dec 2020\nElectricity\nUse (kWh),Jan 2021\nElectricity\nUse (kWh)
0,520 SW 102nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,600 Andover,36029.0,31751.0,30955.0,26823.0,26671.0,25279.0,26644.0,26833.0,25553.0,...,19659.0,23143.0,23259.0,25437.0,26232.0,23112.0,26544.0,29595.0,29443.0,30338.0
2,700 Andover,29063.0,27472.0,25966.0,21996.0,23566.0,23338.0,26888.0,28246.0,24277.0,...,21390.0,20850.0,20982.0,23964.0,24120.0,21358.0,19966.0,22060.0,25358.0,26255.0
3,Abbey Ridge,22161.0,20333.0,30615.0,24364.0,22056.0,16999.0,15195.0,14739.0,17152.0,...,7711.0,7005.0,6795.0,7530.0,6793.0,6105.0,9341.0,14835.0,20448.0,23475.0
4,Alpine Ridge,1186.0,1022.0,1100.0,1138.0,1345.0,1282.0,1380.0,1468.0,1519.0,...,1526.0,1487.0,1404.0,1449.0,1510.0,1577.0,1857.0,2008.0,2115.0,2115.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Yardley Arms,6473.0,3399.0,8116.0,7141.0,6814.0,6703.0,6919.0,6957.0,6542.0,...,6468.0,6478.0,6214.0,6454.0,6486.0,5858.0,6121.0,5019.0,3871.0,7216.0
200,Youngs Lake,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201,Zephyr,1321.0,1527.0,1659.0,1397.0,1336.0,994.0,954.0,704.0,738.0,...,1144.0,1147.0,935.0,950.0,894.0,922.0,1142.0,1188.0,1509.0,1513.0
202,Zephyr Irrigation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203,Grand Total,1273058.0,1192523.0,1208199.0,965868.0,921640.0,857398.0,877968.0,875295.0,875952.0,...,933687.0,837515.0,806566.0,803654.0,773483.0,765051.0,891930.0,942115.0,1067348.0,1199779.0

In [62]:
print(df.iloc[:, 25])
df.iloc[:, 13]

0            0.0
1        30338.0
2        26255.0
3        23475.0
4         2115.0
         ...
199       7216.0
200          0.0
201       1513.0
202          0.0
203    1199779.0
Name: Jan 2021\nElectricity\nUse (kWh), Length: 204, dtype: float64

0            0.0
1        45820.0
2        30909.0
3        11436.0
4         2116.0
         ...
199       7654.0
200          0.0
201       1296.0
202          0.0
203    1292313.0
Name: Jan 2020\nElectricity\nUse (kWh), Length: 204, dtype: float64

In [96]:
first_month = []

first_month.append([df.iloc[:0,2:3], "-", df.iloc[:0,2:3]])
first_month

[[Empty DataFrame
  Columns: [Feb 2019
  Electricity
  Use (kWh)]
  Index: [],
  '-',
  Empty DataFrame
  Columns: [Feb 2019
  Electricity
  Use (kWh)]
  Index: []]]

In [64]:
year = [df.iloc[:,0],
        df.iloc[:,13] - df.iloc[:,1],
        df.iloc[:,14] - df.iloc[:,2],
        df.iloc[:,15] - df.iloc[:,3],
        df.iloc[:,16] - df.iloc[:,4],
        df.iloc[:,17] - df.iloc[:,5],
        df.iloc[:,18] - df.iloc[:,6],
        df.iloc[:,19] - df.iloc[:,7],
        df.iloc[:,20] - df.iloc[:,8],
        df.iloc[:,21] - df.iloc[:,9],
        df.iloc[:,22] - df.iloc[:,10],
        df.iloc[:,23] - df.iloc[:,11],
        df.iloc[:,24] - df.iloc[:,12],
        df.iloc[:,25] - df.iloc[:,13]]

year

[0           520 SW 102nd
 1            600 Andover
 2            700 Andover
 3            Abbey Ridge
 4           Alpine Ridge
              ...
 199         Yardley Arms
 200          Youngs Lake
 201               Zephyr
 202    Zephyr Irrigation
 203          Grand Total
 Name: Facility, Length: 204, dtype: object,
 0          0.0
 1       9791.0
 2       1846.0
 3     -10725.0
 4        930.0
         ...
 199     1181.0
 200        0.0
 201      -25.0
 202        0.0
 203    19255.0
 Length: 204, dtype: float64,
 0          0.0
 1      -2548.0
 2       -295.0
 3     -10392.0
 4        789.0
         ...
 199     3338.0
 200        0.0
 201     -339.0
 202        0.0
 203   -28891.0
 Length: 204, dtype: float64,
 0          0.0
 1      -5284.0
 2       1034.0
 3     -21230.0
 4        629.0
         ...
 199    -1016.0
 200        0.0
 201     -404.0
 202        0.0
 203   -74343.0
 Length: 204, dtype: float64,
 0          0.0
 1      -7164.0
 2       -606.0
 3     -16653.0
 4        388.0
         ...
 199     -673.0
 200        0.0
 201     -253.0
 202        0.0
 203   -32181.0
 Length: 204, dtype: float64,
 0          0.0
 1      -3528.0
 2      -2716.0
 3     -15051.0
 4        142.0
         ...
 199     -336.0
 200        0.0
 201     -189.0
 202        0.0
 203   -84125.0
 Length: 204, dtype: float64,
 0          0.0
 1      -2020.0
 2      -2356.0
 3     -10204.0
 4        122.0
         ...
 199     -489.0
 200        0.0
 201      -59.0
 202        0.0
 203   -50832.0
 Length: 204, dtype: float64,
 0          0.0
 1      -1207.0
 2      -2924.0
 3      -7665.0
 4         69.0
         ...
 199     -465.0
 200        0.0
 201       -4.0
 202        0.0
 203   -74314.0
 Length: 204, dtype: float64,
 0           0.0
 1        -601.0
 2       -4126.0
 3       -7946.0
 4          42.0
          ...
 199      -471.0
 200         0.0
 201       190.0
 202         0.0
 203   -101812.0
 Length: 204, dtype: float64,
 0           0.0
 1       -2441.0
 2       -2919.0
 3      -11047.0
 4          58.0
          ...
 199      -684.0
 200         0.0
 201       184.0
 202         0.0
 203   -110901.0
 Length: 204, dtype: float64,
 0           0.0
 1        3603.0
 2       -5120.0
 3       -7101.0
 4         107.0
          ...
 199      -918.0
 200         0.0
 201       188.0
 202         0.0
 203   -114050.0
 Length: 204, dtype: float64,
 0           0.0
 1       20328.0
 2       -4096.0
 3        3753.0
 4         144.0
          ...
 199     -1935.0
 200         0.0
 201       165.0
 202         0.0
 203   -140721.0
 Length: 204, dtype: float64,
 0           0.0
 1      -12194.0
 2       -3667.0
 3        8276.0
 4          32.0
          ...
 199     -3472.0
 200         0.0
 201       209.0
 202         0.0
 203   -183046.0
 Length: 204, dtype: float64,
 0          0.0
 1     -15482.0
 2      -4654.0
 3      12039.0
 4         -1.0
         ...
 199     -438.0
 200        0.0
 201      217.0
 202        0.0
 203   -92534.0
 Length: 204, dtype: float64]

In [65]:
df_1 = pd.DataFrame(year)
df_tr = df_1.transpose()
df_tr

,Facility,Unnamed 0,Unnamed 1,Unnamed 2,Unnamed 3,Unnamed 4,Unnamed 5,Unnamed 6,Unnamed 7,Unnamed 8,Unnamed 9,Unnamed 10,Unnamed 11,Unnamed 12
0,520 SW 102nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,600 Andover,9791.0,-2548.0,-5284.0,-7164.0,-3528.0,-2020.0,-1207.0,-601.0,-2441.0,3603.0,20328.0,-12194.0,-15482.0
2,700 Andover,1846.0,-295.0,1034.0,-606.0,-2716.0,-2356.0,-2924.0,-4126.0,-2919.0,-5120.0,-4096.0,-3667.0,-4654.0
3,Abbey Ridge,-10725.0,-10392.0,-21230.0,-16653.0,-15051.0,-10204.0,-7665.0,-7946.0,-11047.0,-7101.0,3753.0,8276.0,12039.0
4,Alpine Ridge,930.0,789.0,629.0,388.0,142.0,122.0,69.0,42.0,58.0,107.0,144.0,32.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Yardley Arms,1181.0,3338.0,-1016.0,-673.0,-336.0,-489.0,-465.0,-471.0,-684.0,-918.0,-1935.0,-3472.0,-438.0
200,Youngs Lake,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201,Zephyr,-25.0,-339.0,-404.0,-253.0,-189.0,-59.0,-4.0,190.0,184.0,188.0,165.0,209.0,217.0
202,Zephyr Irrigation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203,Grand Total,19255.0,-28891.0,-74343.0,-32181.0,-84125.0,-50832.0,-74314.0,-101812.0,-110901.0,-114050.0,-140721.0,-183046.0,-92534.0

In [91]:
df_tr.columns = ['Facility', 'First Year First Month', 'First Year Second Month', 'First Year Third Month', 'First Year Fourth Month',
                'First Year Fifth Month', 'First Year Sixth Month', 'First Year Seventh Month', 'First Year Eigth Month',
                 'First Year Ninth Month', 'First Year Tenth Month', 'First Year Eleventh Month', 'First Year Tweleth Month', 
                 'Second Year First Month']
#df_tr.rename(columns={'Unnamed 0': df.iloc[:0,2:3] - df.iloc[:0,2:3]})  

df_tr

,Facility,First Year First Month,First Year Second Month,First Year Third Month,First Year Fourth Month,First Year Fifth Month,First Year Sixth Month,First Year Seventh Month,First Year Eigth Month,First Year Ninth Month,First Year Tenth Month,First Year Eleventh Month,First Year Tweleth Month,Second Year First Month
0,520 SW 102nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,600 Andover,9791.0,-2548.0,-5284.0,-7164.0,-3528.0,-2020.0,-1207.0,-601.0,-2441.0,3603.0,20328.0,-12194.0,-15482.0
2,700 Andover,1846.0,-295.0,1034.0,-606.0,-2716.0,-2356.0,-2924.0,-4126.0,-2919.0,-5120.0,-4096.0,-3667.0,-4654.0
3,Abbey Ridge,-10725.0,-10392.0,-21230.0,-16653.0,-15051.0,-10204.0,-7665.0,-7946.0,-11047.0,-7101.0,3753.0,8276.0,12039.0
4,Alpine Ridge,930.0,789.0,629.0,388.0,142.0,122.0,69.0,42.0,58.0,107.0,144.0,32.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Yardley Arms,1181.0,3338.0,-1016.0,-673.0,-336.0,-489.0,-465.0,-471.0,-684.0,-918.0,-1935.0,-3472.0,-438.0
200,Youngs Lake,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201,Zephyr,-25.0,-339.0,-404.0,-253.0,-189.0,-59.0,-4.0,190.0,184.0,188.0,165.0,209.0,217.0
202,Zephyr Irrigation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203,Grand Total,19255.0,-28891.0,-74343.0,-32181.0,-84125.0,-50832.0,-74314.0,-101812.0,-110901.0,-114050.0,-140721.0,-183046.0,-92534.0

In [67]:
df_tr.to_excel(r'Downloads\Test1.xlsx', index=False)